In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn import linear_model

In [3]:
df = pd.read_csv('Downloads/homeprices.csv')

In [4]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

### Handling null Value
- replacing null value with median value.

In [7]:
med = df.bedrooms.median()
med

4.0

In [9]:
df.bedrooms=df.bedrooms.fillna(med)

In [10]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

- Training the Model

In [11]:
reg = linear_model.LinearRegression()

In [13]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

- finding coefficients of expresson

In [14]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

- Finding the intercept

In [15]:
reg.intercept_

221323.00186540425

- Predicting the price of home whose area is 3000sqft, 3 bedrooms and 40 years old.

In [16]:
reg.predict([[3000,3,40]])

C:\Users\amit\Anacand\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])